{% assign event = site.data.events[include.event] %}

<div class="event">
<h3>{{ event.title }}</h3>

<dl class="info">
  <dt>日時</dt>
  <dd>{{ event.date | date: "%Y年 %-m月 %-d日 (%a) %H:%M" }}</dd>
  <dt>場所</dt>
  <dd>
    <a{% if event.location.web %} href="{{ event.location.web }}"{% endif %}>{{ event.location.name }}</a> {{ event.location.room }}
    {% if event.location.map %}
    <span class="map">(<a href="{{event.location.map}}">map</a>)</span>
    {% endif %}
  </dd>
  <dt>参加費</dt>
  <dd>{{ event.fee }}</dd>
</dl>

<table class="timetable">
  <caption>タイムテーブル</caption>
{% for item in event.timetable %}
  <tr>
    <td><time>{{ item.time }}</time></td>
    
    <td>
    {% if item.presenter %}
    <strong>{{ item.title }}</strong><br>
    <span>
      <img class="avatar" src="assets/img/avatars/{{ item.presenter.avatar }}.png"/>
      {{ item.presenter.name }}
    </span>
    {% else %}
    
    {{ item.title }}
    {% endif %}
    
    {% if item.description %}
    <p class="description">{{ item.description }}</p>
    {% endif %}
    
    {% if item.slide %}
    <a href="{{ item.slide }}" rel="external">slide</a>
    {% endif %}
    </td>
  </tr>
  {% endfor %}
</table>

{% if include.entry_link %}
<p class="register"><a href="{{ event.entry_url }}" rel="external">参加エントリー</a></p>
{% endif %}

</div>