
body {
    font-family: -apple-system, sans-serif;
    color: hsl(0, 0%, 10%);
    background: hsl(0, 0%, 96%);
    margin: 0;
}

a:link,
a:visited,
details summary {
    text-decoration: none;
    color: hsl(192, 90%, 40%);
}
a:hover {
    text-decoration: underline;
}
table {
	border-spacing: 0;
	border-collapse: collapse;
}


/* header */

header {
    background: linear-gradient(hsl(186, 96%, 46%), hsl(201, 96%, 46%));
    color: hsla(0, 0%, 100%, 0.9);
    box-shadow: inset 0 -1px 16px hsla(201, 100%,  20%, 0.3),
                      0  1px      hsla(  0,   0%, 100%, 0.5);
    
    text-align: center;
    padding: 16px;
    margin: 0;
}



/* main */

main {
    line-height: 1.6;
    padding: 1em 5%;
    max-width: 880px;
    margin: 0 auto;
}
main h1 {
    font-weight: 500;
    color: hsla(0, 0%, 0%, 0.75);
    
    text-align: center;
    margin-bottom: 0;
}
main h2 {
    font-size:160%;
    font-weight: 300;
    color: hsla(0, 0%, 0%, 0.5);
    
    text-align: center;
    margin-top: 4em;
}
main h1 + h2 {
    margin-top: 1.5em;
}
main h3 {
    color: hsla(0, 0%, 0%, 0.5);
    
    text-align: center;
}
main > ul,
main > p {
    margin-left: 8%;
    margin-right: 8%;
}


/* footer */

footer {
    text-align: center;
    font-size: 90%;
    margin-top: 6em;
}



/* ------------------------ */

p.tagline {
    font-size: 150%;
    font-style: italic;
    color: hsl(196, 75%, 25%);
    text-align: center;
}
p.tagline em {
    font-size: 114%;
    font-weight: 600;
}
p.tagline + h2 {
    margin-top: 2em;
}



/* profile */

div.member {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.profile {
    width: 30%;
    min-width: 240px;
    margin: 0 1.5% 1.5em;
    position: relative;
    
    flex-basis: auto;
}
.profile h4 {
    font-weight: 400;
    font-size: 120%;
    letter-spacing: 0.05em;
    
    position: absolute;
    top: 12px;
    left: 80px;
    margin: 0;
}
.profile img.avatar {
    width: 64px;
    border-radius: 50%;
}
.profile ul.link {
    font-size: 84%;
    
    text-align: center;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 44px;
    left: 72px;
}
.profile ul.link li {
    display: inline;
    margin: 0 0.1em;
}
.profile ul.link li+li::before {
    content: ' / ';
    font-weight: 200;
    color: hsla(0, 0%, 0%, 0.2);
}
.profile p {
    font-size: 90%;
    text-indent: 1em;
    text-align: justify;
    line-height: 1.5;
    margin: 0;
}


/* event */

.event dl.info {
    display: table;
    margin-left: auto;
    margin-right: auto;
}
.event dl.info dt {
    margin-bottom: 0.2em;
    color: hsl(0, 0%, 50%);
    float: left;
    width: 4em;
    text-align: right;
}
.event dl.info dd {
    margin-bottom: 0.2em;
    margin-left: 4.8em;
}
.event dl.info dd:after {
  content: '';
  display: block;
  clear: both;
}

table.timetable {
    max-width: 35em;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.5;
}
table.timetable caption {
    text-align: left;
    font-weight: 500;
    padding: 0.2em;
}
table.timetable tr {
    border-top:    0.5px solid hsla(0, 0%, 0%, 0.6);
    border-bottom: 0.5px solid hsla(0, 0%, 0%, 0.6);
}
table.timetable td {
    vertical-align: top;
    padding: 0.4em;
}
table.timetable strong {
    font-weight: 500;
}
table.timetable img.avatar {
    width: 28px;
    border-radius: 50%;
    vertical-align: middle
}
table.timetable td:first-child {
    color: hsla(0, 0%, 0%, .6);
    font-weight: 300;
    padding-right: 1em;
}
table.timetable .description {
    font-size: 90%;
}
table.timetable .description > * {
    margin: 0;
}
table.timetable dt > a[rel="external"] {
    display: inline-block;
}
table.timetable dt > a + a[rel="external"]::before {
    content: '|';
    color: hsla(0, 0%, 0%, .6);
    padding: 0 0.5em;
}

.register {
    text-align: center;
    margin: 2em auto;
}
.register a {
    font-size: 120%;
    letter-spacing: 0.2em;
    line-height: 1;
    
    display: inline-block;
    border: 2px solid hsl(192, 90%, 40%);
    margin-left: auto !important;
    margin-right: auto !important;
    border-radius: 1.2em;
    padding: 0.6em 1em;
}

/* Discord */
a[href^="https://discord.gg"] {
    content: url(../img/Discord.svg);
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 260px;
    padding: 8px 0 0 8px;
    border: 2px solid #7289DA;
    border-radius: 8px;
}
a[href^="https://discord.gg"]:hover {
    position: relative;
    top: 1px;
    background-color: #7289DA33;
}