
body {
    font-family: -apple-system, sans-serif;
    color: hsl(0, 0%, 10%);
    background: hsl(0, 0%, 96%);
    margin: 0;
}

a:link,
a:visited {
    text-decoration: none;
    color: hsl(192, 80%, 50%);
}
a:hover {
    text-decoration: underline;
}
table {
	border-spacing: 0;
	border-collapse: collapse;
}


/* header */

header {
    background: linear-gradient(hsl(186, 80%, 50%), hsl(201, 80%, 50%));
    color: hsla(0, 0%, 100%, 0.9);
    
    text-align: center;
    padding: 2em 2em;
    margin: 0;
}
header h1 {
    font: 500 64px/1.0 -apple-system, sans-serif;
    color: inherit;
}
header h1 a {
    color: inherit !important;
}
header p {
    font-size: 150%;
    font-style: italic;
}


/* main */

main {
    line-height: 1.6;
    padding: 1em 5%;
    max-width: 720px;
    margin: 0 auto;
}
main h2 {
    font-size:160%;
    font-weight: 300;
    color: hsla(0, 0%, 0%, 0.5);
    
    text-align: center;
    margin-top: 2em;
}
main h3 {
    color: hsla(0, 0%, 0%, 0.5);
    
    text-align: center;
}
main > ul,
main > p {
    margin-left: 8%;
    margin-right: 8%;
}


/* footer */

footer {
    text-align: center;
    font-size: 90%;
}


/* profile */

div {
    width: 100%;
    text-align: center;
}
.profile {
    text-align: left;
    width: 30%;
    position: relative;
    display: inline-block;
    vertical-align: top;
    padding: 0 1%;
    margin: 0 auto;
}
.profile h4 {
    font-weight: 400;
    font-size: 120%;
    letter-spacing: 0.05em;
    
    position: absolute;
    top: 12px;
    left: 80px;
    margin: 0;
}
.profile img.avatar {
    width: 64px;
    border-radius: 50%;
}
.profile ul.link {
    font-size: 84%;
    
    text-align: center;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 44px;
    left: 72px;
}
.profile ul.link li {
    display: inline;
    margin: 0 0.1em;
}
.profile ul.link li+li::before {
    content: ' / ';
    font-weight: 200;
    color: hsla(0, 0%, 0%, 0.2);
}
.profile p {
    font-size: 90%;
    text-indent: 1em;
    text-align: justify;
    line-height: 1.5;
}


/* event */

table.timetable {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.5;
}
table.timetable tr {
    border-top:    0.5px solid hsla(0, 0%, 0%, 0.6);
    border-bottom: 0.5px solid hsla(0, 0%, 0%, 0.6);
}
table.timetable td {
    vertical-align: top;
    padding: 0.4em;
}
table.timetable strong {
    font-weight: 500;
}
table.timetable img.avatar {
    width: 28px;
    border-radius: 50%;
    vertical-align: middle
}
table.timetable td:first-child {
    color: hsla(0, 0%, 0%, .6);
    font-weight: 300;
    padding-right: 1em;
}
table.timetable p.description {
    font-size: 90%;
    text-indent: 1em;
    margin: 0;
}

ul.event {
    width: 15em;
    margin-left: auto;
    margin-right: auto;
}
ul.event + p {
    text-align: center;
    color: hsl(0, 0%, 60%);
}

.register {
    text-align: center;
    margin: 2em auto;
}
.register a {
    font-size: 120%;
    letter-spacing: 0.2em;
    line-height: 1;
    
    display: inline-block;
    border: 2px solid hsl(192, 80%, 50%);
    margin-left: auto !important;
    margin-right: auto !important;
    border-radius: 1.2em;
    padding: 0.6em 1em;
}