<!DOCTYPE html>
<html lang="{{ site.lang | default: "en" }}">
<head>
    <meta charset="UTF-8">
    <title>{{ site.title }}</title>

    <link rel="stylesheet" href="assets/css/style.css">
</head>

<body>
<header>
    <h1><img src="assets/img/logo@2x.png" width="512" title="{{ site.title }}"></h1>
</header>


<main>
{{ content }}
</main>


<footer>
    <p>This site is hosted on GitHub Pages and maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></p>
</footer>
</body>
</html>
