<!DOCTYPE html>
<html lang="{{ site.lang | default: "en" }}">
<head prefix="og: http://ogp.me/ns#">
    <meta charset="UTF-8">
    <title>{{ site.title }}</title>

    <meta property="og:type"         content="website"/>
    <meta property="og:url"          content="{{ site.github.url }}"/>
    <meta property="og:title"        content="{{ site.title }}"/>
    <meta property="og:description"  content="{{ site.data.metadata.tagline }}"/>
    <meta property="og:image"        content="{{ site.github.url }}/assets/img/cover@2x.png"/>
    <meta property="og:locale"       content="ja_JP"/>
    <meta property="twitter:card"    content="summary_large_image"/>

    <link rel="stylesheet" href="assets/css/style.css">
</head>

<body>
<header>
    <h1><img src="assets/img/logo@2x.png" width="512" title="{{ site.title }}"></h1>
</header>


<main>
{{ content }}
</main>


<footer>
    <p>This site is hosted on GitHub Pages and maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a>.</p>
</footer>
</body>
</html>
